body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #282b30;
    color: white;
}

#bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    background-image: url("https://media.tenor.com/_ORGJLIoHVQAAAAM/dancing-cat.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    filter: blur(150px);
}

.container {
    display: flex;
    flex-direction: column;
}

.container>img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.container>input{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    z-index: 10;
}

.container>button {
    padding: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #ea4c89;
    color: white;
    font-size: 20px;
    transition: .2s ease;
    opacity: 0.98;
    backdrop-filter: blur(100px);
    opacity: 0;
    transform: translateY(-30%);
    pointer-events: none;
}

.container>button.active:hover {
    transition: .2s ease;
    background-color: #ff68a2;
    cursor: pointer;
}

.container>button.active{
    /* display: block; */
    transition: .2s ease;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

@media screen and (max-width: 660px) {
    .container>img {
        width: 90vw;
        height: 90vw;
    }
}

@media screen and (max-height: 760px) {
    .container>img {
        width: 70vh;
        height: 70vh;
        border-radius: 0.6vw;
    }

    .container>input{
        margin-top: 2vw;
    }

    .container>button{
        border-radius: 0.6vw;
        padding: 1vw;
        font-size: 1vw;
    }
}