        {{!-- <footer class="page-footer" style="background-color: #272727">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Время работы</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Пн-Пт с 11:00 до 15:00</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сб, Вс с 11:00 до 13:00</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Made with ♥<br>
Кращий магазин насіння марихуани Coffeeshop.ua в Україні © 2022
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer> --}}

        <footer>
<div class="us-fixed-contact-dropdown d-flex flex-column align-items-start">
</div>
</div>
<div class="container footer-sub">
<div class="row">
<div class="col-lg-3 col-md-6 us-footer-box">
<div class="us-footer-title" style="margin: 50px 0 30px 0; color: #e86823; font-weight: bold">Информация<i class="fas fa-chevron-down d-md-none"></i></div>
<ul id="fotdop" class="us-footer-list  list-unstyled">
<li><a href=""></a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/o-nas" class="us-footer-link">О нас</a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/blog" class="us-footer-link">Блог</a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/contacts" class="us-footer-link">Связаться с нами</a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/sitemaps" class="us-footer-link">Карта сайта</a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/brands" class="us-footer-link">Производители</a></li>
<li class="us-footer-item us-footer-information"><a href="https://coffeeshop.ua/akcii" class="us-footer-link">Акции</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-6 us-footer-box">
<div class="us-footer-title" style="margin: 50px 0 30px 0; color: #e86823; font-weight: bold">Категории<i class="fas fa-chevron-down d-md-none"></i></div>
<ul id="fotdop2" class="us-footer-list  list-unstyled mb-0">
<li class="us-footer-item"><a href="https://coffeeshop.ua/seed-shop" class="us-footer-link">SEED shop</a></li>
<li class="us-footer-item"><a href="https://coffeeshop.ua/grow-shop" class="us-footer-link">GROW shop</a></li>
<li class="us-footer-item"><a href="https://coffeeshop.ua/head-shop" class="us-footer-link">HEAD shop</a></li>
<li class="us-footer-item"><a href="https://coffeeshop.ua/hemp-shop" class="us-footer-link">HEMP shop</a></li>
<li class="us-footer-item"><a href="https://coffeeshop.ua/mushrooms-shop" class="us-footer-link">MUSHROOMS shop</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-6 us-footer-box us-footer-shedule-box">
<div class="us-footer-title" style="margin: 50px 0 30px 0; color: #e86823; font-weight: bold">Время работы<i class="fas fa-chevron-down d-md-none"></i></div>
<div class="us-footer-list">
<div class="us-footer-shedule d-flex align-items-center">
<div class="us-footer-shedule-icon">
<img src="catalog/view/theme/oct_ultrastore/img/footer-shedule-icon.svg" alt="">
</div>
<ul class="us-footer-shedule-text list-unstyled mb-0">
<li class="us-footer-shedule-text-item">Пн-Пт с 11:00 до 15:00
</li>
<li class="us-footer-shedule-text-item">Сб, Вс с 11:00 до 13:00</li>
</ul>
</div>

</div>
<div class="us-footer-social">
<div class="us-footer-social-text us-footer-text" style="margin: 50px 0 0 0">Мы в социальных сетях:</div>
<ul class="us-footer-social-list d-flex list-unstyled">
 <li ><a rel="nofollow" href="https://www.facebook.com/CoffeeshopKharkov"  target="_blank"><i></i>😋</a></li>
<li ><a rel="nofollow" href="https://www.instagram.com/coffeeshop_kharkov/" target="_blank"><i></i>😋</a></li>
</ul>
</div></div>
<div class="col-lg-3 col-md-6 us-footer-box">
<div class="us-footer-title" style="margin: 50px 0 30px 0; color: #e86823; font-weight: bold">Наши контакты<i class="fas fa-chevron-down d-md-none"></i></div>
<div class="us-footer-list us-footer-contact-box">
<a class="btn us-footer-phone-btn top-phone-btn dropdown-toggle d-flex align-items-center" href="tel:+380634201777
" role="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+38(063) 420 1 777 <i class="fas fa-chevron-down"></i></a>
<ul class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenu5">
<li><a href="tel:+380634201777
" class="phoneclick"><i class="fas fa-phone-volume"></i> +38(063) 420 1 777
</a></li>
<li><a href="tel:+380984201777" class="phoneclick"><i class="fas fa-phone-volume"></i> +38(098) 420 1 777</a></li>
</ul>
<a href="mailto:info@coffeeshop.ua" class="us-footer-mail">info@coffeeshop.ua</a>
<div class="us-footer-address">Украина, г.Харьков, ул.Чигирина 3</div>
<ul class="us-footer-contact-list d-flex list-unstyled">
<li class="us-footer-contact-item us-fixed-contact-viber-desktop"><a rel="nofollow" href="viber://chat?number=+380634201777" class="us-footer-contact-link us-footer-contact-link-viber">😋</a></li>
<li class="us-footer-contact-item us-fixed-contact-viber-mobile"><a rel="nofollow" href="viber://add?number=380634201777" class="us-footer-contact-link us-footer-contact-link-viber">😋</a></li>
<li class="us-footer-contact-item"><a rel="nofollow" target="_blank" href="https://t.me/khcoffeeshop" class="us-footer-contact-link us-footer-contact-link-telegram">😋</a></li>
<li class="us-footer-contact-item"><a rel="nofollow" target="_blank" href="https://t.me/khcoffeeshop" class="us-footer-contact-link us-footer-contact-link-whatsapp">😋</a></li>
</ul>
</div>
</div>
</div>
<div class="row row-padding-top">
<div class="col-lg-12">
    <hr style="color: white; border: 1">
<div class="us-footer-bottom d-flex justify-content-between">
<div class="us-footer-bottom-credits" style="margin-bottom: 50px">Made with ♥<br> Кращий магазин насіння марихуани Coffeeshop.ua в Україні © 2022</div>
<ul class="us-footer-bottom-payment-list d-flex list-unstyled">
<li class="us-footer-bottom-payment-item privat24"></li>
<li class="us-footer-bottom-payment-item visa"></li>

<li class="us-footer-bottom-payment-item mastercard"></li>
<li class="us-footer-bottom-payment-item maestro"></li>
</ul>
</div>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "GardenStore",
"name": "Кращий магазин насіння марихуани Coffeeshop.ua в Україні",
"url": "https://coffeeshop.ua/",
"image": "https://coffeeshop.ua/image/catalog/seed-img-1624188682.jpg",
"logo": "https://coffeeshop.ua/image/cache/webp/catalog/seed-img-1624188682-144x144.webp",
"telephone" : "+38-063-420-1-777",
"email": "info@coffeeshop.ua",
"priceRange": "UAH",
"potentialAction": {
"@type": "SearchAction",
"target": "https://coffeeshop.ua/index.php?route=product/search&search={search_term_string}",
"query-input": "required name=search_term_string"
},
"contactPoint" : [
 {
"@type" : "ContactPoint",
"telephone" : "+38-063-420-1-777",
"contactType" : "customer service"
},{
"@type" : "ContactPoint",
"telephone" : "+38-098-420-1-777",
"contactType" : "customer service"
}],
"sameAs" : [
"https://www.facebook.com/CoffeeshopKharkov","https://www.instagram.com/coffeeshop_kharkov/"],
"openingHoursSpecification":[
 {
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Monday",
"opens": "11:00",
"closes": "15:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Tuesday",
"opens": "11:00",
"closes": "15:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Wednesday",
"opens": "11:00",
"closes": "15:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Thursday",
"opens": "11:00",
"closes": "15:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Friday",
"opens": "11:00",
"closes": "15:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Saturday",
"opens": "11:00",
"closes": "13:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Sunday",
"opens": "11:00",
"closes": "13:00"
}]
}
</script>

</footer>