<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/ocfilter.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dynamic_stylesheet.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="https://kit.fontawesome.com/66d9379f69.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>