.container {
    width: 100vw;
    height: 100vh;
    justify-content: end;
}

.yarik {
    position: absolute;
    top: 82%;
    width: 110px;
}

.drop {
    position: absolute;
    width: 2%;
}

.enemy {
    position: absolute;
    width: 5%;
    height: calc(18%);
    animation: encounter;
}

.deadtitle {
    background-color: rgba(36, 36, 36, 1);
    position: absolute;
    transition: .4s;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.counter{
    color: greenyellow;
}

.show {
    visibility: visible !important;
    background-color: rgba(36, 36, 36, 0.76) !important;
    transition: .4s;
    z-index: 1000;
}

@keyframes encounter {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.points {
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-size: 1.4vw;
    user-select: none;
    z-index: 1001;
}

.dead1 {
    opacity: 0;
    animation: deadanim1;
    animation-duration: .5s;
}

.dead2 {
    opacity: 0;
    animation: deadanim2;
    animation-duration: .5s;
}

.dead3 {
    opacity: 0;
    animation: deadanim3;
    animation-duration: .5s;
}

.dead4 {
    opacity: 0;
    animation: deadanim4;
    animation-duration: .5s;
}

.dead5 {
    opacity: 0;
    animation: deadanim5;
    animation-duration: .3s;
}
.gameOver{
    animation: gameover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.button{
    background-color: aliceblue;
    padding: 0.8vw 1.5vw;
    color: black;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 0.4vw;
    cursor: pointer;
    margin-top: 1vw;
    transition: .3s ease;
}

.button:hover{
    background-color: rgb(202, 211, 218);
    transition: .3s ease;
}

.hintContainer{
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: .4s ease;
    opacity: 1;
}

.hintContainer.fade{
    transition: .4s ease;
    opacity: 0;
}

.keysContainer{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.keybutton{
    display: flex;
    padding: 2vw;
    border: 0.2vw solid white;
    border-radius: 0.8vw;
    font-size: 2vw;
    margin: 0 1vw;
    width: 1vw;
    height: 1vw;
    justify-content: center;
    align-items: center;
    animation: keypress;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

.keybutton:nth-child(2){
    animation-delay: 0.5s;
}

.spacebutton{
    margin-top: 4vh;
    padding: 1.6vw 14vw;
    animation-duration: 1.2s;
}


@keyframes keypress {
    0%{
        transform: scale(0.8);
    }
    90%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}

@keyframes deadanim1 {
    from {
        opacity: 1;                                                                                                                     
    }

    to {
        opacity: 0;
        transform: scale(0.2);
    }
}

@keyframes deadanim2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: rotate(780deg);
    }
}

@keyframes deadanim3 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: rotate(-780deg);
    }
}

@keyframes deadanim4 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes deadanim5 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes gameover {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}