@using Microsoft.AspNetCore.Components.Web
@namespace DishesStore.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/header.css" rel="stylesheet" />
    <link href="css/store.css" rel="stylesheet" />
    <link href="css/modal.css" rel="stylesheet" />
    <link href="css/footer.css" rel="stylesheet" />
    <link href="css/cartstyles.css" rel="stylesheet" />
    <link href="DishesStore.styles.css" rel="stylesheet" />

    <script type="text/javascript" src="/js/smooth-scroll.js"></script>

    <link rel="icon" href="https://psv4.userapi.com/c235031/u103003078/docs/d54/41963cbd743f/spicylogo.png?extra=00B-u-cSvznSGPkeRiR5qLX-51kzqHHRZ5NuWJwabW-PWW0a40Sw66NPEcL83hk72mrC1C1G8THa5zHSwf5thhkke0XI5X4QuNudR6rjwisovk0Q6z8M6wPnwMZWmQao4Ts1ZOY9-RtWmChNc3cEiwu7" type="image/x-icon">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
