@page "/"

<PageTitle>Store</PageTitle>

<div class="site-holder">
    <div class="main-container">
        <div>
            <h1 class="main-title">Dishes</h1>
        </div>

        <div class="filters-container">
            <div class="search-field">
                <span class="search-label">Find by name</span>
                <input class="input-field" maxlength="30" placeholder="Filters" />
            </div>
            <div class="categories-field">
                <div class="categories">
                    <button class="category current-category">All</button>
                    <button class="category">Vegan</button>
                    <button class="category">Vegetables</button>
                    <button class="category">Meat</button>
                    <button class="category">Low Carb</button>
                    <button class="category">Snack</button>
                    <button class="category">For Kids</button>
                </div>
                <div class="category-pointer">
                    •
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stretched">
    <div class="assortment-container">
        @for (int i = 0; i < 19; i++)
        {
            <div class="card">
                <div>
                    <img class="card-img" src="https://mercatopizzakurier.ch/wp-content/uploads/2019/10/1459955-free-png-pepperoni-pizza-png-images-transparent-free-png-images-pizza-850_834.png">
                </div>
                <div>
                    <div class="card-title">Dish 1</div>
                    <div class="card-calorie">Calorieness</div>
                    <div class="values-container">
                        <div class="checkbox-value checkbox-active">250 kcal</div>
                        <div class="checkbox-value">400 kcal</div>
                        <div class="checkbox-value">600 kcal</div>
                    </div>
                    <div class="purchase-segment">
                        <div class="card-price">$4</div>
                        <button><svg class="purchase-button" id="PurchaseIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" /></svg></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    string name = "asd";
}