@page "/profile"

<h3>Profile</h3>

<div class="auth-stretched">
    <div class="auth-container">
        <div class="auth-section">
            <div class="auth-holder">

            </div>
        </div>
    </div>
</div>

@code {

}
