{{!-- <form action="/createuser" method="POST">

    <h2>Admin Panel</h2>

    <div class="input-field">
        <input type="text" name="login" placeholder="User login">
        <input type="text" name="email" placeholder="User email">
        <input type="password" name="password" placeholder="User password">
    </div>

    <button type="submit" class="btn">Create Product</button>

</form> --}}

<form action="/createproduct" method="POST">

    <h2>Admin Panel</h2>

    <div class="input-field">
        <div>
            <input type="text" name="title" placeholder="Product title" required>
        </div>
        <div >
            <input style="width: 189px" type="number" min="1" max="5000" name="price" placeholder="Product price" required>
        </div>
        <div>
            <input type="text" name="imageuri" placeholder="Product image" required>
        </div>
        <div>
            <input type="text" name="description" placeholder="Product description">
        </div>
        <div>
            <input type="text" name="type" placeholder="Product type" required>
        </div>
        <div>
            <input type="text" name="genetics" placeholder="Product genetics" required>
        </div>
        <div>
            <input type="checkbox" name="IsHit" required>
            <span>Is Product Hit?</span>
        </div>
        <div>
            <input type="checkbox" name="IsInStock" checked required>
            <span>Is Product in Stock?</span>
        </div>
    </div>

    <button type="submit" class="btn">Create Product</button>

</form>
