<form action="/createproduct" method="POST">

<h2>Admin Panel</h2>

<div class="input-field">
    <input type="text" name="title" placeholder="Product title">
    {{!-- <label>Product title</label> --}}
</div>

<button type="submit" class="btn">Create Product</button>

</form>