
.admin-title {
    text-align: center;
    padding: 30px 0 20px 0;
    font-family: 'Circe-B';
    font-size: 28px;
}

.button-field {
    margin-top: 4px;
    width: 100%;
    border-radius: 16px;
    padding: 18px 14px;
    background-color: #f1f3f4;
    color: #03253a;
    font-family: 'Circe-R';
    margin-bottom: 20px;
    transition: 0.3s ease;
}

    .button-field:hover {
        transform: scale(0.97);
        transition: 0.3s ease;
        background-color: #dcdfe0;
    }


.admin-display-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
}

.select-admin {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #03253a;
    border-radius: 4px;
    width: 20%;
    padding: 4px 10px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}


    button:disabled,
    button[disabled]:hover {
        background-color: #cccccc;
        color: #666666;
        transform: scale(1);
    }