.show-item-display {
    opacity: .8;
}

.modal-item-stylized {
    border-radius: 20px;
}

.item-display-popup {
    width: 1000px;
}

.item-display-container {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.img-display-holder {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.additional-display-holder {
    width: 50%;
}

.img-popup {
    width: 100%;
    height: auto;
}

.display-item-values-container {
    display: flex;
    margin-top: 60px;
}

.display-item-checkbox-value {
    color: #a1abb1;
    border: 2px solid #a1abb1;
    border-radius: 9px;
    font-family: 'Circe-R';
    padding: 2px 6px;
    font-size: 12px;
    background-color: white;
    margin-right: 10px;
}

.display-item-checkbox-active {
    color: white;
    background-color: #85ce78;
    border-color: #85ce78;
}

.display-item-card-title {
    color: #0b2a3d;
    font-size: 40px;
    margin: 20px 0 14px 0;
    font-family: 'Circe-EB';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount-label {
    color: #a3abb1;
    margin-bottom: 10px;
    font-family: 'Circe-R';
    font-size: 14px;
}

.input-modal {
    border: 2px solid #0b2a3d;
    text-align: center;
    padding: 8px;
    font-family: 'Circe-B';
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.modal-button-count {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    background-color: black;
    font-size: 21px;
    text-align: center;
    color: white;
    font-family: 'Circe-L';
    transition: 0.3s ease;
}

    .modal-button-count:hover {
        transform: scale(0.96);
        transition: 0.3s ease;
        opacity: 0.85;
    }

.btns-container {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-green {
    background-color: #68c25a;
    color: white;
    transition: 0.3s ease;
}

    .btn-green:hover {
        background-color: #68c25a;
        color: white;
        opacity: 0.85;
        transform: scale(0.96);
        transition: 0.3s ease;
    }

.btn-red {
    background-color: #e76554;
}

.display-item-lower-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.modal-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.modal-section-last {
    margin-right: 40px;
    flex-direction: column-reverse;
}

.modal-item-price-label {
    color: #a3abb1;
    margin: 0 0 0px 0;
    font-family: 'Circe-R';
    font-size: 14px;
}

.modal-item-price {
    color: #0b2a3d;
    font-size: 43px;
    margin-top: -6px;
    font-family: 'Circe-B';
}

.modal-item-totalprice {
    color: #3c5261;
    font-size: 19px;
    margin-top: -11px;
    font-family: 'Circe-R';
}

.btn-purchase {
    background-color: #03253a;
    color: white;
    font-family: 'Circe-R';
    padding: 4px 24px;
    transition: 0.3s ease;
    margin-top: -11px;
}

    .btn-purchase:hover {
        background-color: #03253a;
        color: white;
        opacity: 0.85;
        transform: scale(0.96);
        transition: 0.3s ease;
    }

.additional-section {
    display: flex;
    justify-content: space-between;
}

.cross-btn {
    color: #03253a;
    transition: 0.3s ease;
    opacity: 1;
}

    .cross-btn:hover {
        color: #e4002b;
        opacity: 0.98;
        transform: scale(0.8);
        transition: 0.3s ease;
    }
