@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/OpenSansBold.eot);
    src: url(fonts/OpenSansBold.eot) format('embedded-opentype'), url(fonts/OpenSansBold.woff2) format('woff2'), url(fonts/OpenSansBold.woff) format('woff'), url(fonts/OpenSansBold.ttf) format('truetype'), url(fonts/OpenSansBold.svg#OpenSansBold) format('svg');
    font-display: swap
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/OpenSansLight.eot);
    src: url(fonts/OpenSansLight.eot) format('embedded-opentype'), url(fonts/OpenSansLight.woff2) format('woff2'), url(fonts/OpenSansLight.woff) format('woff'), url(fonts/OpenSansLight.ttf) format('truetype'), url(fonts/OpenSansLight.svg#OpenSansLight) format('svg');
    font-display: swap
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/OpenSansRegular.eot);
    src: url(fonts/OpenSansRegular.eot) format('embedded-opentype'), url(fonts/OpenSansRegular.woff2) format('woff2'), url(fonts/OpenSansRegular.woff) format('woff'), url(fonts/OpenSansRegular.ttf) format('truetype'), url(fonts/OpenSansRegular.svg#OpenSansRegular) format('svg');
    font-display: swap
}

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/OpenSansSemibold.eot);
    src: url(fonts/OpenSansSemibold.eot) format('embedded-opentype'), url(fonts/OpenSansSemibold.woff2) format('woff2'), url(fonts/OpenSansSemibold.woff) format('woff'), url(fonts/OpenSansSemibold.ttf) format('truetype'), url(fonts/OpenSansSemibold.svg#OpenSansSemibold) format('svg');
    font-display: swap
}