<footer class="footer">
    <div class="footer-container">

        <div class="full-white-logo">
            <NavLink href="/"><span class="white-logo-text">Spicy</span></NavLink>
        </div>

        <div class="footer-block">
            <div class="footer-column column-spacing">
                <p><a href="https://dakimashop.pp.ua/" class="footer-row">UA patriotic дакімакури </a></p>
                <p><a href="http://fateevfurniture.pp.ua/" class="footer-row">Fateev меблі та шафи </a></p>
                <p><a href="https://drugsfromfateev.pp.ua/" class="footer-row">Сат*вы и инд*ки</a></p>
                <p><a href="https://stariyshop.pp.ua/" class="footer-row">Баскетбол куроко</a></p>
                <p><a href="https://raport.pp.ua/" class="footer-row">Успішний бізнес проєкт</a></p>
            </div>

            <div class="footer-column  column-spacing">
                <p><NavLink href="/chat" class="footer-row">Online Chat</NavLink></p>
                <p><NavLink href="/menu" class="footer-row">Menu</NavLink></p>
            </div>

            <div class="footer-column">
                <p><NavLink href="/cart" class="footer-row">Cart</NavLink></p>
            </div>
        </div>
    </div>
</footer>