<footer class="footer">
    <div class="footer-container">

        <div class="full-white-logo">
            <span class="white-logo-text">Spicy</span>
        </div>

        <div class="footer-block">
            <div class="footer-column column-spacing">
                <p><a href="" class="footer-row">Instagram</a></p>
                <p><a href="" class="footer-row">Telegram</a></p>
                <p><a href="" class="footer-row">Самые </a></p>
            </div>

            <div class="footer-column  column-spacing">
                <p><NavLink href="/chat" class="footer-row">Online Chat</NavLink></p>
                <p><NavLink href="/menu" class="footer-row">Menu</NavLink></p>
            </div>

            <div class="footer-column">
                <p><NavLink href="/cart" class="footer-row">Cart</NavLink></p>
            </div>
        </div>
    </div>
</footer>