.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 2em;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

ul {
  display: flex;
  padding: 0;
  margin-bottom: 40px;
}

li {
  margin: 0 20px;
  list-style: none;
  padding: 0;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.instructions img {
    width: 100px;
    height: 100px;
}

.instructions p {
  margin: 0.5em 0;
}