.content {
    animation: moveAcross ease;
    font-size: 14px;
    font-family: 'e-Ukraine-UL';
    font-weight: 100;
    transition: .1s ease;
}

.content__container {
    padding-bottom: 50px;
}

.content:hover {
    background-color: red;
    transition: .1s ease;
    cursor: pointer;
}

@keyframes moveAcross {
    0% {
        opacity: 0;
        transform: scale(.1);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}