* {
    margin: 0;
    padding: 0;
    user-select: none;
    pointer-events: none;
}

body {
    background-color: #25282d;
    overflow: hidden;
}

#player {
    position: absolute;
    bottom: 5%;
}

.tile {
    width: 100px;
    height: 32px;
}