.content__container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.content {
    /* border: 1px solid white; */
    border-radius: 15px;
    padding: 20px;
    /* width: 600px; */
    /* background-image: none; */
    position: relative;
    z-index: 1;
    transition: .2s ease;
    font-size: 15px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    user-select: none;
    font-size: 18px;
    background-size: cover;
    resize: both;
    margin: 5px;
    animation: fade ease;
}

#desc{
    cursor: pointer;
    font-family: 'Closer-R';
    /* text-align: justify; */
    text-align: start;
    padding:10px
}

.content:hover{
    transform: scale(1.02);
    transition: .2s ease;
}

.content:hover>.img {
    filter: brightness(30%) !important;
    transition: .2s ease;
    cursor: pointer;
}

.item_price {
    color: rgb(93, 203, 115);
}

.img{
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;   
    border-radius: 15px;
    transition: .2s ease;
}

.item_img{
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.content__general{
    z-index: 10;
    cursor: pointer;
    font-family: 'Closer-M' !important;
    font-size: 28px;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.content:nth-child(1) { animation-duration: 0.5s }
.content:nth-child(2) { animation-duration: 1s }
.content:nth-child(3) { animation-duration: 1.5s }
.content:nth-child(4) { animation-duration: 2s }
.content:nth-child(5) { animation-duration: 2.5s }
.content:nth-child(6) { animation-duration: 3s }