body{
    background-color: #282b30;;
}

.card{
    width: 146px;
    height: 196px;
    position: absolute;
    display: inline-block;
    animation-duration: .2s;
    border-radius: 5px;
    left: -1.9375rem;
    top: -2.75rem;
    transition: .55s ease;
    background-color: white;
}

.playable:hover{
    transform: scale(1.1) !important;
}

.card.red{
    background-image: url('../images/redsuit.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card.black{
    background-image: url('../images/blacksuit.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card.red.diamond{
    background-image: url('../images/cardsuit_diamond.png');
}

.card.red.heart{
    background-image: url('../images/cardsuit_heart.png');
}

.card.black.spade{
    background-image: url('../images/cardsuit_spade.png');
}

.card.black.club{
    background-image: url('../images/cardsuit_club.png');
}

.card:before, .card:after {
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
    line-height: 0.7rem;
    font-weight: 600;
    font-family: 'e-Ukraine-R';
    white-space: pre-line;
    width: 0.55rem;
    letter-spacing: -0.1rem;
}

.card:before {
    top: 0.9rem;
    left: 0.8rem;
}

.card:after {
    bottom: 0.9rem;
    right: 0.8rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card.red:after{
    color: #d6494c;
}
.card.black:after{
    color: #2c4d72;
}

.card.red:before{
    color: #d6494c;
}
.card.black:before{
    color: #2c4d72;
}

.card:before, .card:after {
    content: attr(title);
}

#container{
    position: fixed;
    top: calc(50% + 1.5rem);
    left: 48%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    margin: auto;
}

#gui{
    position: fixed;
    top: 0;
    left: 0;
}

#btn-volume{
    transform: scale(1.5);
    fill: white;
    position: absolute;
    top: 2rem;
    left: 3rem;
    transition: .2s ease;
}
#btn-volume:hover{
    cursor: pointer;
    transform: scale(1);
    transition: .2s ease;
}

@keyframes shuffleleft {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-35%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes shuffleright {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(35%);
    }
    100%{
        transform: translateX(0);
    }
}

.back-side{
    background-image: url('../images/cardsuit.png');
    background-repeat: no-repeat;
    background-size: cover;
}