<div class="toast-holder">
    <div class="toast-title">
        <h6><span style="color: #2c9f45">✔ </span>@Title</h6>
    </div>
    <div class="toast-additional">
        @PizzaName x count @PizzaCount — @Description.
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; } = null;
    [Parameter] public string? Description { get; set; } = null;
    [Parameter] public string? PizzaName { get; set; } = null;
    [Parameter] public int PizzaCount { get; set; }
}
